

    /* basic */

* {
    padding: 0px;
    border: 0px solid black;
    margin: 0px;
    outline: 0px;
    border-spacing: 0px;
    border-collapse: separate;
}

html {
    height: 100%;
}

body {
    height: 100%;
    color: #dddddd;
    font-size: 22px;
    background-color: #212121;
}

select,
input[type=text],
input[type=password] {
    box-sizing: border-box;
}


    /* fonts */

@font-face {
    font-family: 'Maven Pro';
    src: url('../fnt/mavenpro-regular-webfont.eot');
    src: url('../fnt/mavenpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fnt/mavenpro-regular-webfont.woff') format('woff'),
         url('../fnt/mavenpro-regular-webfont.ttf') format('truetype'),
         url('../fnt/mavenpro-regular-webfont.svg#maven_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'Maven Pro';
    src: url('../fnt/mavenpro-bold-webfont.eot');
    src: url('../fnt/mavenpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fnt/mavenpro-bold-webfont.woff') format('woff'),
         url('../fnt/mavenpro-bold-webfont.ttf') format('truetype'),
         url('../fnt/mavenpro-bold-webfont.svg#maven_probold') format('svg');
    font-weight: bold;
    font-style: normal;
}

 
    /* layout */

html {
    font-family: 'Maven Pro';
}

div.page,
div.header-container {
    position: relative;
    min-width: 360px;
    width: 100%;
}

div.page {
    font-size: 1em;
    transition: all 0.5s linear;
    min-height: 100%;
}

div.header {
    background-color: rgba(64, 64, 64, 0.5);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    top: 0px;
    width: 100%;
    height: 50px;
    position: fixed;
    overflow: hidden;
    z-index: 10000;
}

div.header-container {
    transition: all 0.5s linear;
}

div.footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 3em;
    font-size: 0.7em;
    color: #aaa;
    text-align: center;
}

div.copyright-note {
    border-top: 1px solid #333;
    padding-top: 0.2em;
    margin: 0px 15%;
}

div.page-container {
    transition: all 0.2s linear;
    padding: 55px 5px 3em 2%;
}

div.page-container.stretched {
    margin-left: 40%;
    padding-left: 5px;
}


    /* icons & icon buttons */

div.button.settings-button {
    margin: 1px;
    vertical-align: middle;
    background-image: url(../img/settings.svg);
    width: 48px;
    height: 48px;
}

div.button.logout-button {
    margin: 1px;
    vertical-align: middle;
    background-image: url(../img/logout.svg);
    width: 48px;
    height: 48px;
}

body.admin div.logout-button {
    display: none;
}

body.admin div.settings-top-bar.closed div.logout-button {
    display: inline-block;
}

body:not(.admin) div.settings-top-bar div.logout-button {
    display: none;
}

div.button.rem-camera-button {
    display: none;
    margin: 1px;
    vertical-align: middle;
    background-image: url(../img/settings.svg);
    width: 48px;
    height: 48px;
    background-position: -48px 0px;
}

div.settings-top-bar.open div.button.rem-camera-button {
    display: inline-block;
}

div.logo {
    float: right;
    display: inline-block;
    white-space: nowrap;
    opacity: 0.86;
}

span.logo {
    color: white;
    vertical-align: middle;
    font-size: 27px;
    font-weight: bold;
    position: relative;
    top: 3px;
}

img.logo {
    width: 36px;
    height: 36px;
    padding: 7px 3px;
    vertical-align: middle;
}

img.background-logo {
    position: absolute;
    width: 30%;
    left: 35%;
    top: 10em;
    opacity: 0.03;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

img.main-loading-progress {
    display: block;
    margin: auto;
    margin-top: 50px;
}

div.add-camera-message {
    text-align: center;
    margin-top: 30px;
}

div.hostname {
    vertical-align: middle;
    display: inline-block;
    font-size: 27px;
}


    /* settings */

div.settings {
    background-color: #313131;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0px;
    width: 0px;
    bottom: 0px;
    transition: all 0.2s linear;
    overflow: auto;
}

div.settings.open {
    width: 40%;
    min-width: 360px;
}

body:not(.admin) div.settings {
    display: none !important;
}

div.settings-container {
    position: relative;
    padding-top: 10px;
    display: none;
    white-space: nowrap;
}

div.settings.open div.settings-container {
    display: block;
}

div.settings-progress {
    position: absolute;
    top: 0px;
    width: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #313131;
    opacity: 0;
    transition: opacity 0.1s linear;
}

div.settings-top-bar {
    position: relative;
    display: inline-block;
    width: 40%;
    height: 50px;
}

div.settings-top-bar.open {
    background-color: #414141;
    min-width: 360px;
}

body:not(.admin) div.settings-top-bar {
    display: none !important;
}

div.settings-top-bar.closed div.apply-button {
    display: none !important;
}

div.settings-section-title {
    position: relative;
    text-align: right;
    background-color: rgba(100, 100, 100, 0.3);
    padding: 5px;
}

table.settings {
    width: 100%;
    padding: 0.5em 0.5em 1em 0.5em;
}

td.settings-item-label {
    width: 50%;
    text-align: right;
    padding-right: 5px;
}

td.settings-item-value {
    width: 50%;
    text-align: left;
    padding-left: 5px;
}

span.settings-item-label {
    font-size: 0.9em;
}

span.settings-item-unit {
    font-size: 0.6em;
    padding: 0px 0.2em;
}

div.settings-item-separator {
    height: 1px;
    border-top: 1px solid #414141;
    margin: 5px 0px;
}

#cameraSelect {
    display: none;
    padding: 4px 1.5em 4px 4px;
    vertical-align: middle;
    font-size: 1.1em;
    width: auto;
    max-width: 35%;
}

div.apply-button {
    position: relative;
    display: none;
    opacity: 0;
    float: right;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 17px;
    background-color: #FF6F00;
    border-radius: 3px;
    transition: all 0.1s linear;
}

div.apply-button:HOVER {
    background-color: #FF7D19;
}

div.apply-button:ACTIVE {
    background-color: #F06800;
}

div.apply-button.progress {
    background-color: #FF6F00;
}

img.apply-progress {
    margin-top: 3px;
}

div.update-button,
div.shut-down-button,
div.reboot-button {
    position: relative;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    margin: 2px 0px;
    color: white;
    font-size: 0.9em;
    border-radius: 3px;
    transition: all 0.1s linear;
    width: 7em;
}

div.update-button {
    background: #317CAD;
}

div.shut-down-button,
div.reboot-button {
    background: #c0392b;
}

div.update-button:HOVER {
    background: #3498db;
}

div.shut-down-button:HOVER,
div.reboot-button:HOVER {
    background: #D43F2F;
}

div.update-button:ACTIVE {
    background: #317CAD;
}

div.shut-down-button:ACTIVE,
div.reboot-button:ACTIVE {
    background: #B03427;
}

div.settings-top-bar.open #cameraSelect {
    display: inline;
}

div.settings-top-bar.open div.logout-button {
    display: none;
}

div.check-box.section {
    margin: 0px;
    float: left;
}

div.check-box.section div.check-box-button {
    background-color: #515151;
}

div.check-box.on.section div.check-box-button {
    background-color: #317CAD;
}

div.check-box.on.section:FOCUS div.check-box-button,
div.check-box.on.section:HOVER div.check-box-button {
    background-color: #3498db;
}

input[type=text].working-schedule.number {
    width: 50px;
}

#diskUsageProgressBar {
    width: 90%;
}

div.hidden,
tr.hidden {
    display: none !important;
}


    /* dialogs */
    
table.login-dialog {
    margin: auto;
    font-size: 22px; /* always bigger, regardless of screen size */
}

table.add-camera-dialog {
    margin: auto;
}

table.add-camera-dialog select,
table.add-camera-dialog input[type=text],
table.add-camera-dialog input[type=password] {
    width: 17em;
}

span#cameraMsgLabel {
    color: red;
    font-size: 0.7em;
}


div.media-dialog {
}

div.media-dialog-groups {
    float: left;
    width: 11em;
    text-align: center;
    overflow: auto;
    white-space: nowrap;
}

div.media-dialog-groups.small-screen {
    float: none;
}

div.media-dialog-group-button {
    height: 1.5em;
    width: 10.5em;
    box-sizing: border-box;
    line-height: 1.5em;
    text-align: center;
    margin: 0em 0.2em 0.2em 0.2em;
    padding: 0px 0.5em;
    background-color: #414141;
    color: #3498db;
    border-radius: 3px;
    transition: all 0.1s linear;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.media-dialog-groups.small-screen div.media-dialog-group-button {
    display: inline-block;
}

div.media-dialog-group-button:HOVER {
    background-color: #515151;
}

div.media-dialog-group-button:ACTIVE {
    background-color: #414141;
}

div.media-dialog-group-button.current {
    background-color: #317CAD;
    color: white;
}

div.media-dialog-group-button.current:HOVER {
    background-color: #3498db;
}

div.media-dialog-group-button.current:ACTIVE {
    background-color: #317CAD;
}

div.media-dialog-list {
    overflow: auto;
    position: relative;
}

div.media-list-group-title {
    background-color: #313131;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    padding: 1em 0px 0.2em 0px;
}

img.media-list-progress {
    position: relative;
    top: 35%;
    display: block;
    margin: auto;
}

div.media-list-entry {
    height: 4em;
    background-color: #414141;
    border-bottom: 1px solid #313131;
    cursor: pointer;
    transition: background-color 0.1s linear;
}

div.media-list-entry:HOVER {
    background-color: #494949;
}

div.media-list-entry:ACTIVE {
    background-color: #3b3b3b;
}

img.media-list-preview {
    float: left;
    height: 3em;
    margin: 0.45em;
    border: 1px solid #212121;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.3);
}

div.media-list-entry-name {
    font-weight: bold;
    font-size: 1.3em;
    padding: 0.4em 0em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.media-list-entry-details {
    font-size: 1em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.media-list-entry-details span.details-moment-short {
    display: none;
}

div.media-list-download-button,
div.media-list-delete-button {
    float: right;
    clear: right;
    height: 1.5em;
    width: 5em;
    line-height: 1.5em;
    text-align: center;
    margin: 0px 0.5em;
    padding: 0px 0.5em;
    color: white;
    border-radius: 3px;
    transition: all 0.1s linear;
}

div.media-list-download-button {
    margin-top: 0.4em;
    margin-bottom: 0.1em;
    background: #317CAD;
}

div.media-list-download-button:HOVER {
    background-color: #3498db;
}

div.media-list-download-button:ACTIVE {
    background-color: #317CAD;
}

div.media-list-delete-button {
    margin-top: 0.1em;
    margin-bottom: 0.4em;
    background: #c0392b;
}

div.media-list-delete-button:HOVER {
    background-color: #D43F2F;
}

div.media-list-delete-button:ACTIVE {
    background-color: #B03427;
}

div.media-dialog-buttons {
    margin: 0.5em 0px 0px 0px;
    text-align: center;
}

div.media-dialog-button {
    cursor: pointer;
    display: inline-block;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    padding: 0px 0.5em;
    margin: 0px 5px 0px 0px;
    color: white;
    background-color: #317CAD;
    border-radius: 3px;
    transition: all 0.1s linear;
}

div.media-dialog-button:HOVER {
    background-color: #3498db;
}

div.media-dialog-button:ACTIVE {
    background-color: #317CAD;
}

div.picture-dialog-content {
    position: relative;
    text-align: center;
    min-height: 100px;
}

div.picture-dialog-prev-arrow,
div.picture-dialog-next-arrow {
    position: absolute;
    top: 45%;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(../img/arrows.svg);
    background-size: cover;
    width: 3em;
    height: 3em;
    border-radius: 0.3em;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
}

div.picture-dialog-prev-arrow {
    left: 1em;
}

div.picture-dialog-next-arrow {
    right: 1em;
    background-position: -100% 0%;
}

img.picture-dialog-content {
    border: 1px solid #292929;
}

img.picture-dialog-progress {
    position: absolute;
    background-color: #313131;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.7;
}

table.timelapse-dialog select {
    width: 10em;
}

td.timelapse-warning {
    font-size: 80%;
    display: none;
    color: red;
    max-width: 20em;
    text-align: center;
    white-space: normal;
    padding-bottom: 1em;
}

div.media-dialog-delete-all-button {
    margin-top: 0.1em;
    margin-bottom: 0.4em;
    background: #c0392b;
}

div.media-dialog-delete-all-button:HOVER {
    background-color: #D43F2F;
}

div.media-dialog-delete-all-button:ACTIVE {
    background-color: #B03427;
}

td.login-dialog-error {
    color: red;
    display: none;
}


    /* camera frames */

div.camera-list {
    text-align: center;
}

div.camera-frame,
div.camera-frame-place-holder {
    position: relative;
    width: 32%;
    text-align: left;
    background-color: #313131;
    display: inline-block;
    padding: 0px 3px 3px 3px;
    border-radius: 3px;
    transition: all 0.2s, opacity 0s;
    margin: 2px;
    opacity: 0;
    vertical-align: top;
}

div.camera-frame:only-child,
div.camera-frame-place-holder:only-child {
    width: 48%;
}

div.camera-frame-place-holder {
    visibility: hidden;
}

div.camera-frame.motion-detected {
    background-color: #712727;
}

div.modal-container div.camera-frame {
    width: auto;
    padding: 0px;
    margin: -7px;
    background-color: #414141;
}

div.camera-frame:HOVER {
    background-color: #414141;
}

div.camera-frame.motion-detected:HOVER {
    background-color: #8B3636;
}

div.camera-top-bar {
    padding: 3px 0px;
    font-size: 20px;
    height: 25px;
}

div.modal-container div.camera-top-bar {
    display: none;
}

span.camera-name {
    float: left;
    line-height: 25px;
}

div.camera-buttons {
    float: right;
}

div.camera-button {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../img/top-bar-buttons.svg);
    background-size: cover;
    margin-left: 3px;
    cursor: pointer;
    transition: all 0.1s linear;
}

div.camera-button.close {
    background-position: 0px 0px;
}

div.camera-button.full-screen {
    background-position: -200% 0px;
}

div.camera-button.configure {
    background-position: -100% 0px;
}

div.camera-button.media-pictures {
    background-position: -300% 0px;
}

div.camera-button.media-movies {
    background-position: -400% 0px;
}

div.camera-container {
    position: relative;
    padding: 0px;
}

img.camera {
    position: relative;
    width: 100%;
    display: block;
    transition: opacity 0.2s linear;
    opacity: 1;
    min-height: 160px;
}

img.camera.error,
img.camera.loading {
    opacity: 0;
}

div.camera-placeholder {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    text-align: center;
    transition: opacity 0.2s linear;
}

img.no-camera {
    margin-top: 20%;
    width: 30%;
    opacity: 0.8;
}

div.camera-progress {
    background: rgba(0, 0, 0, 0.001); /* otherwise IE would not extend this as expected */
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0;
    transition: all 0.2s linear;
    text-align: center;
    cursor: pointer;
}

div.camera-progress.visible {
    opacity: 0.4;
}

img.camera-progress {
    border: 10px solid white;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
}


    /* media queries */

@media all and (max-width: 1440px) {
    /* smaller screens */
    
    body {
        font-size: 17px;
    }
}

@media all and (max-width: 1000px) {
    /* small screens (mobile devices) */
    
    div.page-container.stretched {
        margin-left: 0px;
    }
    
    div.settings.open {
        box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
        background-color: rgba(40, 40, 40, 0.9);
    }
    
    div.hostname {
        display: none;
    }

    div.media-list-entry-name {
        font-size: 1em;
        padding: 0.2em 0em 0em 0em;
    }

    div.media-list-entry-details {
        padding-top: 0.2em;
        font-size: 1em;
        text-align: center;
        white-space: normal;
    }

    div.media-list-entry-details span.details-moment {
        display: none;
    }

    div.media-list-entry-details span.details-moment-short {
        display: block;
    }
}

@media all and (max-width: 400px) {
    /* very small screens */
    
    body {
        font-size: 13px;
    }
    
    div.camera-button {
        background-size: cover;
        width: 24px;
        height: 24px;
    }
}

@media all and (max-width: 1900px) {
    div.camera-frame, 
    div.camera-frame-place-holder {
        width: 48%;
    }
}

@media all and (max-width: 1200px) {
    div.page-container {
        padding-left: 1%;
    }

    div.camera-frame,
    div.camera-frame-place-holder {
        width: 98%;
    }

    div.camera-frame:only-child,
    div.camera-frame-place-holder:only-child {
        width: 98%;
    }
}
