{% extends "base.html" %}

{% block title %}{% if title %}{{title}}{% else %}motionEye{% endif %}{% endblock %}

{% block style %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/ui.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css" />
    {% if frame %}
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/frame.css" />
    {% endif %}
{% endblock %}

{% block script %}
    {{super()}}
    <script type="text/javascript" src="{{STATIC_URL}}js/ui.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>
    {% if frame %}
        <script type="text/javascript" src="{{STATIC_URL}}js/frame.js"></script>
    {% endif %}
    <script type="text/javascript">
        var adminUsername = '{{admin_username}}';
        var frame = {% if frame %}true{% else %}false{% endif %};
        var baseUri = null;
    </script>
{% endblock %}

{% block body %}
    {% if not frame %}
    <div class="header">
        <div class="header-container">
            <div class="settings-top-bar closed">
                <div class="button settings-button mouse-effect" title="settings"></div>
                <div class="button logout-button mouse-effect" title="switch user"></div>
                <select class="styled" id="cameraSelect"></select>
                <div class="button rem-camera-button mouse-effect" id="remCameraButton" title="remove camera"></div>
                <div class="button apply-button" id="applyButton">Apply</div>
                {% if hostname %}<div class="hostname">{{hostname}}</div>{% endif %}
            </div>
            <div class="button logout-button mouse-effect" title="switch user"></div>
            <div class="logo">
                <a href="/">
                    <span class="logo">motionEye</span>
                    <img class="logo" src="{{STATIC_URL}}img/motioneye-logo.svg">
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    {% if not frame %}
    <div class="page">
        <div class="settings closed">
            <div class="settings-container">
                <div class="settings-section-title"><input type="checkbox" class="styled section general" id="motionEyeSwitch">General Settings</div>
                <table class="settings">
                    <tr class="settings-item">
                        <td class="settings-item-label"><span class="settings-item-label">Show Advanced Settings</span></td>
                        <td class="settings-item-value"><input type="checkbox" class="styled general" id="showAdvancedSwitch"></td>
                        <td><span class="help-mark" title="enable this to be able to access all the advanced settings">?</span></td>
                    </tr>
                    <tr class="settings-item">
                        <td class="settings-item-label"><span class="settings-item-label">Administrator Username</span></td>
                        <td class="settings-item-value"><input type="text" class="styled general" id="adminUsernameEntry" readonly="readonly"></td>
                        <td><span class="help-mark" title="the username supplied to configure motionEye">?</span></td>
                    </tr>
                    <tr class="settings-item">
                        <td class="settings-item-label"><span class="settings-item-label">Administrator Password</span></td>
                        <td class="settings-item-value"><input type="password" class="styled general" id="adminPasswordEntry"></td>
                        <td><span class="help-mark" title="administrator's password">?</span></td>
                    </tr>
                    <tr class="settings-item">
                        <td class="settings-item-label"><span class="settings-item-label">Surveillance Username</span></td>
                        <td class="settings-item-value"><input type="text" class="styled general" id="normalUsernameEntry"></td>
                        <td><span class="help-mark" title="the username supplied for video surveillance">?</span></td>
                    </tr>
                    <tr class="settings-item">
                        <td class="settings-item-label"><span class="settings-item-label">Surveillance Password</span></td>
                        <td class="settings-item-value"><input type="password" class="styled general" id="normalPasswordEntry"></td>
                        <td><span class="help-mark" title="the password for the surveillance user (leave empty for passwordless surveillance)">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting{% if not timezones %} hidden{% endif %}">
                        <td class="settings-item-label"><span class="settings-item-label">Time Zone</span></td>
                        <td class="settings-item-value">
                            <select class="styled general" id="timeZoneSelect">
                                {% for timezone in timezones %}
                                <option value="{{timezone}}">{{timezone}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><span class="help-mark" title="selecting the right timezone assures a correct timestamp displayed on pictures and movies">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td colspan="100"><div class="settings-item-separator"></div></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Current Version</span></td>
                        <td class="settings-item-value"><span class="settings-item-label">{{version}}</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Software Update</span></td>
                        <td class="settings-item-value"><div class="button update-button" id="updateButton">Check</div></td>
                        <td><span class="help-mark" title="checks for new versions and performs updates">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting{% if not enable_reboot %} hidden{% endif %}">
                        <td class="settings-item-label"><span class="settings-item-label">Power</span></td>
                        <td class="settings-item-value"><div class="button shut-down-button" id="shutDownButton">Shut Down</div></td>
                        <td><span class="help-mark" title="shuts down the system">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting{% if not enable_reboot %} hidden{% endif %}">
                        <td class="settings-item-label"><span class="settings-item-label"></span></td>
                        <td class="settings-item-value"><div class="button reboot-button" id="rebootButton">Reboot</div></td>
                        <td><span class="help-mark" title="reboots the system">?</span></td>
                    </tr>
                </table>
                
                <div class="settings-section-title advanced-setting{% if not wpa_supplicant %} hidden{% endif %}"><input type="checkbox" class="styled section wifi" id="wifiSwitch">Wireless Network</div>
                <table class="settings advanced-setting{% if not wpa_supplicant %} hidden{% endif %}">
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Network Name</span></td>
                        <td class="settings-item-value"><input type="text" class="styled wifi" id="wifiNameEntry" placeholder="name..."></td>
                        <td><span class="help-mark" title="the name (SSID) of your wireless network">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Network Key</span></td>
                        <td class="settings-item-value"><input type="password" class="styled wifi" id="wifiKeyEntry" placeholder="key..."></td>
                        <td><span class="help-mark" title="the key (PSK) required to connect to your wireless network">?</span></td>
                    </tr>
                </table>

                <div class="settings-section-title"><input type="checkbox" class="styled section device" id="videoDeviceSwitch">Video Device</div>
                <table class="settings">
                    <tr class="settings-item">
                        <td class="settings-item-label"><span class="settings-item-label">Camera Name</span></td>
                        <td class="settings-item-value"><input type="text" class="styled device" id="deviceNameEntry" placeholder="camera name..."></td>
                        <td><span class="help-mark" title="an alias for this camera device">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Camera Device</span></td>
                        <td class="settings-item-value"><input type="text" class="styled device" id="deviceEntry" disabled="disabled"></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td colspan="100"><div class="settings-item-separator"></div></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Light Switch Detection</span></td>
                        <td class="settings-item-value"><input type="checkbox" class="styled device" id="lightSwitchDetectSwitch"></td>
                        <td><span class="help-mark" title="enable this if you want sudden changes in light to not be treated as motion">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Automatic Brightness</span></td>
                        <td class="settings-item-value"><input type="checkbox" class="styled device" id="autoBrightnessSwitch"></td>
                        <td><span class="help-mark" title="enables software automatic brightness (only recommended for cameras without autobrightness)">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Brightness</span></td>
                        <td class="settings-item-value"><input type="text" class="range styled device" id="brightnessSlider"></td>
                        <td><span class="help-mark" title="sets a desired brightness level for this camera">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Contrast</span></td>
                        <td class="settings-item-value"><input type="text" class="range styled device" id="contrastSlider"></td>
                        <td><span class="help-mark" title="sets a desired contrast level for this camera">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Saturation</span></td>
                        <td class="settings-item-value"><input type="text" class="range styled device" id="saturationSlider"></td>
                        <td><span class="help-mark" title="sets a desired saturation (color) level for this camera">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Hue</span></td>
                        <td class="settings-item-value"><input type="text" class="range styled device" id="hueSlider"></td>
                        <td><span class="help-mark" title="sets a desired hue (color) for this camera">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td colspan="100"><div class="settings-item-separator"></div></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Video Resolution</span></td>
                        <td class="settings-item-value">
                            <select class="video-resolution styled device" id="resolutionSelect">
                            </select>
                        </td>
                        <td><span class="help-mark" title="the video resolution (larger values produce better quality but require larger storage space and bandwidth)">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Video Rotation</span></td>
                        <td class="settings-item-value">
                            <select class="rotation styled device" id="rotationSelect">
                                <option value="0">0&deg;</option>
                                <option value="90">90&deg;</option>
                                <option value="180">180&deg;</option>
                                <option value="270">270&deg;</option>
                            </select>
                        </td>
                        <td><span class="help-mark" title="use this to rotate the captured image, if your camera is not positioned correctly">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Frame Rate</span></td>
                        <td class="settings-item-value"><input type="text" class="range styled device" id="framerateSlider"></td>
                        <td><span class="help-mark" title="sets the number of frames captured by the camera every second (higher values produce smoother videos but require larger storage space and bandwidth)">?</span></td>
                    </tr>
                </table>
                
                <div class="settings-section-title advanced-setting">File Storage</div>
                <table class="settings advanced-setting">
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Storage Device</span></td>
                        <td class="settings-item-value">
                            <select class="styled storage" id="storageDeviceSelect">
                            </select>
                        </td>
                        <td><span class="help-mark" title="indicates the storage device where the image and video files will be saved">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Network Server</span></td>
                        <td class="settings-item-value"><input type="text" class="styled storage" id="networkServerEntry"></td>
                        <td><span class="help-mark" title="the address of the network server (IP address or hostname)">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Share Name</span></td>
                        <td class="settings-item-value"><input type="text" class="styled storage" id="networkShareNameEntry"></td>
                        <td><span class="help-mark" title="the name of the network share">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Share Username</span></td>
                        <td class="settings-item-value"><input type="text" class="styled storage" id="networkUsernameEntry"></td>
                        <td><span class="help-mark" title="the username to be supplied when accessing the network share (leave empty if no username is required)">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Share Password</span></td>
                        <td class="settings-item-value"><input type="password" class="styled storage" id="networkPasswordEntry"></td>
                        <td><span class="help-mark" title="the password required by the network share (leave empty if no password is required)">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Root Directory</span></td>
                        <td class="settings-item-value"><input type="text" class="styled storage" id="rootDirectoryEntry"></td>
                        <td><span class="help-mark" title="the root path (on the selected storage device) where the files will be saved">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td colspan="100"><div class="settings-item-separator"></div></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Disk Usage</span></td>
                        <td class="settings-item-value">
                            <div id="diskUsageProgressBar"></div>
                        </td>
                        <td><span class="help-mark" title="the used/total size of the disk where the root directory resides">?</span></td>
                    </tr>
                </table>
                
                <div class="settings-section-title advanced-setting"><input type="checkbox" class="styled section text-overlay" id="textOverlaySwitch">Text Overlay</div>
                <table class="settings advanced-setting">
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Left Text</span></td>
                        <td class="settings-item-value">
                            <select class="styled text-overlay" id="leftTextSelect">
                                <option value="camera-name">Camera Name</option>
                                <option value="timestamp">Timestamp</option>
                                <option value="custom-text">Custom Text</option>
                            </select>
                        </td>
                        <td><span class="help-mark" title="sets the text displayed on the movies and images, on the lower left corner">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"></td>
                        <td class="settings-item-value"><input type="text" class="styled text-overlay" id="leftTextEntry" placeholder="custom text..."></td>
                        <td><span class="help-mark" title="sets a custom left text; the following special tokens are accepted: %Y = year, %m = month, %d = date, %H = hour, %M = minute, %S = second, %T = HH:MM:SS, %q = frame number, \n = new line">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Right Text</span></td>
                        <td class="settings-item-value">
                            <select class="styled text-overlay" id="rightTextSelect">
                                <option value="camera-name">Camera Name</option>
                                <option value="timestamp">Timestamp</option>
                                <option value="custom-text">Custom Text</option>
                            </select>
                        </td>
                        <td><span class="help-mark" title="sets the text displayed on the movies and images, on the lower right corner">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"></td>
                        <td class="settings-item-value"><input type="text" class="styled text-overlay" id="rightTextEntry" placeholder="custom text..."></td>
                        <td><span class="help-mark" title="sets a custom right text; the following special tokens are accepted: %Y = year, %m = month, %d = date, %H = hour, %M = minute, %S = second, %T = HH:MM:SS, %q = frame number, \n = new line">?</span></td>
                    </tr>
                </table>

                <div class="settings-section-title"><input type="checkbox" class="styled section streaming" id="videoStreamingSwitch">Video Streaming</div>
                <table class="settings">
                    <tr class="settings-item advanced-setting local-streaming">
                        <td class="settings-item-label"><span class="settings-item-label">Streaming Frame Rate</span></td>
                        <td class="settings-item-value"><input type="text" class="range styled streaming" id="streamingFramerateSlider"></td>
                        <td><span class="help-mark" title="sets the number of frames transmitted every second on the live streaming">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting local-streaming">
                        <td class="settings-item-label"><span class="settings-item-label">Streaming Quality</span></td>
                        <td class="settings-item-value"><input type="text" class="range styled streaming" id="streamingQualitySlider"></td>
                        <td><span class="help-mark" title="sets the live streaming quality (higher values produce a better video quality but require more bandwidth)">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting local-streaming">
                        <td class="settings-item-label"><span class="settings-item-label">Streaming Image Resizing</span></td>
                        <td class="settings-item-value"><input type="checkbox" class="styled streaming" id="streamingServerResizeSwitch"></td>
                        <td><span class="help-mark" title="when this is enabled, the images are resized by motionEye before they are sent to the browser (disable when running motionEye on a slow CPU)">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting local-streaming">
                        <td class="settings-item-label"><span class="settings-item-label">Streaming Resolution</span></td>
                        <td class="settings-item-value"><input type="text" class="range styled streaming" id="streamingResolutionSlider"></td>
                        <td><span class="help-mark" title="the streaming resolution given as percent of the video device resolution (higher values produce better video quality but require more bandwidth)">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Streaming Port</span></td>
                        <td class="settings-item-value"><input type="text" class="styled streaming" id="streamingPortEntry"></td>
                        <td><span class="help-mark" title="sets the TCP port on which the webcam streaming server listens">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Motion Optimization</span></td>
                        <td class="settings-item-value"><input type="checkbox" class="styled streaming" id="streamingMotion"></td>
                        <td><span class="help-mark" title="enable this if you want a lower frame rate for the live streaming when no motion is detected">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting local-streaming">
                        <td class="settings-item-label"><span class="settings-item-label">Snapshot URL</span></td>
                        <td class="settings-item-value"><input type="text" class="styled streaming" id="streamingSnapshotUrlEntry" readonly="readonly"></td>
                        <td><span class="help-mark" title="a URL that provides a JPEG image with the most recent snapshot of the camera">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Streaming URL</span></td>
                        <td class="settings-item-value"><input type="text" class="styled streaming" id="streamingMjpgUrlEntry" readonly="readonly"></td>
                        <td><span class="help-mark" title="a URL that provides a MJPEG stream of the camera (there is no password protection for this URL!)">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting local-streaming">
                        <td class="settings-item-label"><span class="settings-item-label">Embed URL</span></td>
                        <td class="settings-item-value"><input type="text" class="styled streaming" id="streamingEmbedUrlEntry" readonly="readonly"></td>
                        <td><span class="help-mark" title="a URL that provides a minimal HTML document containing the camera frame, ready to be embedded">?</span></td>
                    </tr>
                </table>
                
                <div class="settings-section-title"><input type="checkbox" class="styled section still-images" id="stillImagesSwitch">Still Images</div>
                <table class="settings">
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Image File Name</span></td>
                        <td class="settings-item-value"><input type="text" class="styled still-images" id="imageFileNameEntry" placeholder="file name pattern..."></td>
                        <td><span class="help-mark" title="sets the name pattern for the image (JPEG) files; the following special tokens are accepted: %Y = year, %m = month, %d = date, %H = hour, %M = minute, %S = second, %q = frame number, %v = event number / = subfolder">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Image Quality</span></td>
                        <td class="settings-item-value"><input type="text" class="range styled still-images" id="imageQualitySlider"></td>
                        <td><span class="help-mark" title="sets the JPEG image quality (higher values produce a better image quality but require more storage space)">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Capture Mode</span></td>
                        <td class="settings-item-value">
                            <select class="styled still-images" id="captureModeSelect">
                                <option value="motion-triggered">Motion Triggered</option>
                                <option value="interval-snapshots">Interval Snapshots</option>
                                <option value="all-frames">All Frames</option>
                            </select>
                        </td>
                        <td><span class="help-mark" title="sets the image capture mode: Motion Triggered = an image captured whenever motion is detected, Automated Snapshots = an image captured every x seconds, All Frames = saves each frame into an image file">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Snapshot Interval</span></td>
                        <td class="settings-item-value"><input type="text" class="styled number still-images" id="snapshotIntervalEntry"><span class="settings-item-unit">seconds</span></td>
                        <td><span class="help-mark" title="sets the interval (in seconds) for the automated snapshots">?</span></td>
                    </tr>
                    <tr class="settings-item">
                        <td class="settings-item-label"><span class="settings-item-label">Preserve Pictures</span></td>
                        <td class="settings-item-value">
                            <select class="styled still-images" id="preservePicturesSelect">
                                <option value="1">For One Day</option>
                                <option value="7">For One Week</option>
                                <option value="30">For One Month</option>
                                <option value="365">For One Year</option>
                                <option value="0">Forever</option>
                                <option value="-1">Custom</option>
                            </select>
                        </td>
                        <td><span class="help-mark" title="images older than the specified duration are automatically deleted to free storage space">?</span></td>
                    </tr>
                    <tr class="settings-item">
                        <td class="settings-item-label"><span class="settings-item-label">Pictures Lifetime</span></td>
                        <td class="settings-item-value"><input type="text" class="styled number still-images" id="picturesLifetime"><span class="settings-item-unit">days</span></td>
                        <td><span class="help-mark" title="sets the number of days after which the pictures will be deleted automatically">?</span></td>
                    </tr>
                </table>
                
                <div class="settings-section-title advanced-setting"><input type="checkbox" class="styled section motion-detection" id="motionDetectionSwitch">Motion Detection</div>
                <table class="settings advanced-setting">
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Show Frame Changes</span></td>
                        <td class="settings-item-value"><input type="checkbox" class="styled motion-detection" id="showFrameChangesSwitch"></td>
                        <td><span class="help-mark" title="if this is enabled, frame changes (number of pixels as well as the changed area) are shown on the video; temporarily enable this option to help adjust the motion detection parameters">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Frame Change Threshold</span></td>
                        <td class="settings-item-value"><input type="text" class="range styled motion-detection" id="frameChangeThresholdSlider"></td>
                        <td><span class="help-mark" title="indicates the minimal percent of the image that must change between two successive frames in order for motion to be detected (smaller values give a more sensitive detection, but are prone to false positives)">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Auto Noise Detection</span></td>
                        <td class="settings-item-value"><input type="checkbox" class="styled motion-detection" id="autoNoiseDetectSwitch"></td>
                        <td><span class="help-mark" title="enable this to automatically adjust the noise level">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Noise Level</span></td>
                        <td class="settings-item-value"><input type="text" class="range styled motion-detection" id="noiseLevelSlider"></td>
                        <td><span class="help-mark" title="manually sets the noise level to a fixed value">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td colspan="100"><div class="settings-item-separator"></div></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Motion Gap</span></td>
                        <td class="settings-item-value"><input type="text" class="number styled motion-detection" id="eventGapEntry"><span class="settings-item-unit">seconds</span></td>
                        <td><span class="help-mark" title="sets the number of seconds of silence (i.e. no motion) that mark the end of a motion event">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Captured Before</span></td>
                        <td class="settings-item-value"><input type="text" class="number styled motion-detection" id="preCaptureEntry"><span class="settings-item-unit">frames</span></td>
                        <td><span class="help-mark" title="sets the number of frames to be captured (and included in the movie) before a motion event is detected">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Captured After</span></td>
                        <td class="settings-item-value"><input type="text" class="number styled motion-detection" id="postCaptureEntry"><span class="settings-item-unit">frames</span></td>
                        <td><span class="help-mark" title="sets the number of frames to be captured (and included in the movie) after a motion event is detected">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Minimum Motion Frames</span></td>
                        <td class="settings-item-value"><input type="text" class="number styled motion-detection" id="minimumMotionFramesEntry"><span class="settings-item-unit">frames</span></td>
                        <td><span class="help-mark" title="sets the minimum number of successive motion frames required to start a motion event">?</span></td>
                    </tr>
                </table>
                
                <div class="settings-section-title"><input type="checkbox" class="styled section motion-movies" id="motionMoviesSwitch">Motion Movies</div>
                <table class="settings">
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Movie File Name</span></td>
                        <td class="settings-item-value"><input type="text" class="styled motion-movies" id="movieFileNameEntry" placeholder="file name pattern..."></td>
                        <td><span class="help-mark" title="sets the name pattern for the movie (MPEG) files; the following special tokens are accepted: %Y = year, %m = month, %d = date, %H = hour, %M = minute, %S = second, %q = frame number, / = subfolder">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Movie Quality</span></td>
                        <td class="settings-item-value"><input type="text" class="range styled motion-movies" id="movieQualitySlider"></td>
                        <td><span class="help-mark" title="sets the MPEG video quality (higher values produce a better video quality but require more storage space)">?</span></td>
                    </tr>
                    <tr class="settings-item">
                        <td class="settings-item-label"><span class="settings-item-label">Preserve Movies</span></td>
                        <td class="settings-item-value">
                            <select class="styled motion-movies" id="preserveMoviesSelect">
                                <option value="1">For One Day</option>
                                <option value="7">For One Week</option>
                                <option value="30">For One Month</option>
                                <option value="365">For One Year</option>
                                <option value="0">Forever</option>
                                <option value="-1">Custom</option>
                            </select>
                        </td>
                        <td><span class="help-mark" title="movies older than the specified duration are automatically deleted to free storage space">?</span></td>
                    </tr>
                    <tr class="settings-item">
                        <td class="settings-item-label"><span class="settings-item-label">Movies Lifetime</span></td>
                        <td class="settings-item-value"><input type="text" class="styled number still-images" id="moviesLifetime"><span class="settings-item-unit">days</span></td>
                        <td><span class="help-mark" title="sets the number of days after which the movies will be deleted automatically">?</span></td>
                    </tr>
                </table>
                
                <div class="settings-section-title advanced-setting">Motion Notifications</div>
                <table class="settings">
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Email Notifications</span></td>
                        <td class="settings-item-value"><input type="checkbox" class="styled notifications" id="emailNotificationsSwitch"></td>
                        <td><span class="help-mark" title="enable this if you want to receive email notifications whenever a motion event is detected">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Email Addresses</span></td>
                        <td class="settings-item-value"><input type="text" class="styled notifications" id="emailAddressesEntry" placeholder="email addresses..."></td>
                        <td><span class="help-mark" title="email addresses (separated by comma) that are added here will receive notifications whenever a motion event is detected">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">SMTP Server</span></td>
                        <td class="settings-item-value"><input type="text" class="styled notifications" id="smtpServerEntry" placeholder="e.g. smtp.gmail.com"></td>
                        <td><span class="help-mark" title="enter the hostname or IP address of your SMTP server (for Gmail use smtp.gmail.com)">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">SMTP Port</span></td>
                        <td class="settings-item-value"><input type="text" class="styled number notifications" id="smtpPortEntry" placeholder="e.g. 587"></td>
                        <td><span class="help-mark" title="enter the port used by your SMTP server (usually 465 for non-TLS connections and 587 for TLS connections)">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">SMTP Account</span></td>
                        <td class="settings-item-value"><input type="text" class="styled notifications" id="smtpAccountEntry" placeholder="account@gmail.com..."></td>
                        <td><span class="help-mark" title="enter your SMTP account (normally your email address)">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">SMTP Password</span></td>
                        <td class="settings-item-value"><input type="password" class="styled notifications" id="smtpPasswordEntry"></td>
                        <td><span class="help-mark" title="enter your SMTP account password (for Gmail use your Google password or an app-specific generated password)">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Use TLS</span></td>
                        <td class="settings-item-value"><input type="checkbox" class="styled notifications" id="smtpTlsSwitch"></td>
                        <td><span class="help-mark" title="enable this if your SMTP server requires TLS (Gmail needs this to be enabled)">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td colspan="100"><div class="settings-item-separator"></div></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Web Hook Notifications</span></td>
                        <td class="settings-item-value"><input type="checkbox" class="styled notifications" id="webHookNotificationsSwitch"></td>
                        <td><span class="help-mark" title="enable this if you want a URL to be requested whenever a motion event is detected">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Web Hook URL</span></td>
                        <td class="settings-item-value"><input type="text" class="styled notifications" id="webHookUrlEntry" placeholder="e.g. http://example.com/notify/"></td>
                        <td><span class="help-mark" title="a URL to be requested when motion is detected; the following special tokens are accepted: %Y = year, %m = month, %d = date, %H = hour, %M = minute, %S = second, %q = frame number">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">HTTP Method</span></td>
                        <td class="settings-item-value">
                            <select class="styled notifications" id="webHookHttpMethodSelect">
                                <option value="GET">GET</option>
                                <option value="POST">POST</option>
                            </select>
                        </td>
                        <td><span class="help-mark" title="the HTTP method to use when requesting the web hook URL">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td colspan="100"><div class="settings-item-separator"></div></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Run A Command</span></td>
                        <td class="settings-item-value"><input type="checkbox" class="styled notifications" id="commandNotificationsSwitch"></td>
                        <td><span class="help-mark" title="enable this if you want to execute a command whenever a motion event is detected">?</span></td>
                    </tr>
                    <tr class="settings-item advanced-setting">
                        <td class="settings-item-label"><span class="settings-item-label">Command</span></td>
                        <td class="settings-item-value"><input type="text" class="styled notifications" id="commandNotificationsEntry" placeholder="command..."></td>
                        <td><span class="help-mark" title="a command to be executed when motion is detected; multiple commands can be separated by a semicolon; the following special tokens are accepted: %Y = year, %m = month, %d = date, %H = hour, %M = minute, %S = second, %q = frame number">?</span></td>
                    </tr>
                </table>

                <div class="settings-section-title"><input type="checkbox" class="styled section working-schedule" id="workingScheduleSwitch">Working Schedule</div>
                <table class="settings">
                    <tr class="settings-item">
                        <td class="settings-item-label"><span class="settings-item-label">Monday</span></td>
                        <td class="settings-item-value">
                            <input type="checkbox" class="styled working-schedule" id="mondayEnabledSwitch">
                            <span class="settings-item-unit time">from</span><input type="text" class="styled working-schedule time" id="mondayFromEntry">
                            <span class="settings-item-unit time">to</span><input type="text" class="styled working-schedule time" id="mondayToEntry">
                        </td>
                        <td><span class="help-mark" title="sets the working schedule time interval for Mondays">?</span></td>
                    </tr>
                    <tr class="settings-item">
                        <td class="settings-item-label"><span class="settings-item-label">Tuesday</span></td>
                        <td class="settings-item-value">
                            <input type="checkbox" class="styled working-schedule" id="tuesdayEnabledSwitch">
                            <span class="settings-item-unit time">from</span><input type="text" class="styled working-schedule time" id="tuesdayFromEntry">
                            <span class="settings-item-unit time">to</span><input type="text" class="styled working-schedule time" id="tuesdayToEntry">
                        </td>
                        <td><span class="help-mark" title="sets the working schedule time interval for Tuesdays">?</span></td>
                    </tr>
                    <tr class="settings-item">
                        <td class="settings-item-label"><span class="settings-item-label">Wednesday</span></td>
                        <td class="settings-item-value">
                            <input type="checkbox" class="styled working-schedule" id="wednesdayEnabledSwitch">
                            <span class="settings-item-unit time">from</span><input type="text" class="styled working-schedule time" id="wednesdayFromEntry">
                            <span class="settings-item-unit time">to</span><input type="text" class="styled working-schedule time" id="wednesdayToEntry">
                        </td>
                        <td><span class="help-mark" title="sets the working schedule time interval for Wednesdays">?</span></td>
                    </tr>
                    <tr class="settings-item">
                        <td class="settings-item-label"><span class="settings-item-label">Thursday</span></td>
                        <td class="settings-item-value">
                            <input type="checkbox" class="styled working-schedule" id="thursdayEnabledSwitch">
                            <span class="settings-item-unit time">from</span><input type="text" class="styled working-schedule time" id="thursdayFromEntry">
                            <span class="settings-item-unit time">to</span><input type="text" class="styled working-schedule time" id="thursdayToEntry">
                        </td>
                        <td><span class="help-mark" title="sets the working schedule time interval for Thursdays">?</span></td>
                    </tr>
                    <tr class="settings-item">
                        <td class="settings-item-label"><span class="settings-item-label">Friday</span></td>
                        <td class="settings-item-value">
                            <input type="checkbox" class="styled working-schedule" id="fridayEnabledSwitch">
                            <span class="settings-item-unit time">from</span><input type="text" class="styled working-schedule time" id="fridayFromEntry">
                            <span class="settings-item-unit time">to</span><input type="text" class="styled working-schedule time" id="fridayToEntry">
                        </td>
                        <td><span class="help-mark" title="sets the working schedule time interval for Friday">?</span></td>
                    </tr>
                    <tr class="settings-item">
                        <td class="settings-item-label"><span class="settings-item-label">Saturday</span></td>
                        <td class="settings-item-value">
                            <input type="checkbox" class="styled working-schedule" id="saturdayEnabledSwitch">
                            <span class="settings-item-unit time">from</span><input type="text" class="styled working-schedule time" id="saturdayFromEntry">
                            <span class="settings-item-unit time">to</span><input type="text" class="styled working-schedule time" id="saturdayToEntry">
                        </td>
                        <td><span class="help-mark" title="sets the working schedule time interval for Saturday">?</span></td>
                    </tr>
                    <tr class="settings-item">
                        <td class="settings-item-label"><span class="settings-item-label">Sunday</span></td>
                        <td class="settings-item-value">
                            <input type="checkbox" class="styled working-schedule" id="sundayEnabledSwitch">
                            <span class="settings-item-unit time">from</span><input type="text" class="styled working-schedule time" id="sundayFromEntry">
                            <span class="settings-item-unit time">to</span><input type="text" class="styled working-schedule time" id="sundayToEntry">
                        </td>
                        <td><span class="help-mark" title="sets the working schedule time interval for Sunday">?</span></td>
                    </tr>
                    <tr class="settings-item">
                        <td class="settings-item-label"><span class="settings-item-label">Detect Motion</span></td>
                        <td class="settings-item-value">
                            <select class="styled working-schedule" id="workingScheduleTypeSelect">
                                <option value="during">During Working Schedule</option>
                                <option value="outside">Outside Working Schedule</option>
                            </select>
                        </td>
                        <td><span class="help-mark" title="sets whether motion detection should be active during or outside the working schedule">?</span></td>
                    </tr>
                </table>

                <div class="settings-progress"></div>
            </div>
        </div>
        <img class="background-logo" src="{{STATIC_URL}}img/motioneye-logo.svg" onmousedown="return false;">
        <div class="page-container"></div>
        <div class="footer">
            <div class="copyright-note">copyright &copy; Calin Crisan</div>
        </div> 
    </div>
    {% else %}
        <div class="camera-frame" id="camera{{camera_id}}"
                streaming_framerate="{{camera_config['stream_maxrate']}}" streaming_server_resize="{{camera_config['@webcam_server_resize']}}">
            
            <div class="camera-container">
                <div class="camera-placeholder"><img class="no-camera" src="{{STATIC_URL}}img/no-camera.svg"></div><img
                    class="camera"><div class="camera-progress"><img class="camera-progress"></div>
            </div>
        </div>
    {% endif %}
    <div class="modal-glass"></div>
    <div class="modal-container"></div>
    <div class="popup-message-container"></div>
{% endblock %}
